@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-controller="Product" asp-action="Add">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <div class="container mt-4">
                    <div class="row ">
                        <!-- Danh sách sản phẩm -->
                        <div class="col-md-9">
                            <div class="row row-cols-1 row-cols-md-3 ">
                                <!-- San pham 1 -->
                                <div class="col ">
                                    <div class="card p-2 m-2" style="width: 18rem;">
                                        <img src="https://picsum.photos/id/684/600/400" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">
                                                Some quick example text to build on the card title and make up
                                                the bulk of the card's content.
                                            </p>
                                            <a href="#" class="btn btn-primary">Tìm hiểu</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Display" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @if (item.ImageUrl != null)
                    {
                        <img src="@item.ImageUrl" alt="Product Image" style="max-width: 200px;" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
